div{
    color: green;
}
.Alert-Text{
    color:red;
}

.parent {
    color: red;
}

.parent{
    color:blue;
}
/* * {
  outline: 2px solid black;
} */

.b1{
    padding:50px;
    outline: 2px solid blue;
    display:inline-block;
    margin:10px;
}